* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body, #root {
    height: 100vh;
    margin: 0;
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 70%;
    height: 100%;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: grey;
    background-color: #F6F6F6;
}

.title-section {
    padding-bottom: 10px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: grey;
}

.title, .username {
    margin: 10px;
}

.messages-container {
    display: inline-block;
    flex-grow: 1;
    width: 100%;
    margin: 1px;
    padding: 1px 20px 10px 0px;
    text-align: left;
    overflow-y: scroll;
}

.messages-container-inner {
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
    list-style: none;
}

.send-box-container {
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
    min-height: 60px;
    padding-top: 10px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: grey;
}

.send-box {
    flex-grow: 1;
    outline: none;
    margin-right: 10px;
}

.send-button {
    width: 70px;
}

.msg-left, .msg-right {
    max-width: 60%;
    padding-top: 10px;
}

.msg-left {
}

.msg-right {
    margin-right: 0;
    margin-left: auto;
}

.msg-body {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: lightgrey;
    padding: 5px;
    word-wrap: break-word;
}

.msg-by {
    color: grey;
    font-size: 80%;
    padding: 5px 5px 0px 5px;
}

@media screen and (max-width: 1000px) {
    .panel {
        width: 750px;
        max-width: calc(100vw - 20px);
    }
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 2em;
    overflow: visible;
    vertical-align: -.125em;
}

.notification-toggle {
    float: right;
}
